body {
    margin: 0;
    overflow: hidden;
  }
  #controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(55, 166, 234, 0.636);
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

  
#color-picker {
  display: flex;
  gap: 10px;
}

.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform 0.2s, border-color 0.2s;
}

.color-circle:hover {
  transform: scale(1.2);
  border-color: #000;
}